@import "tailwindcss";

@theme {
  --color-primary: #f58060;
  --color-primary-hover: #e46f50;
  --color-primary-light: #fef2ef;
  --color-primary-border: #fcd5cc;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
